
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap'); */

.form {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
  flex-wrap: wrap;
}

.addBook {
  background-color: #0290ff;
  border: 0;
  width: 103px;
  height: 23px;
  font-family: 'Roboto Slab', serif;
  font-size: 0.6rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  border-radius: 8px;
  color: #fff;
}

.addNbook {
  width: 100%;
  height: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.inputBook {
  width: 50%;
}

.select {
  width: 35%;
}
