.head {
  width: 100%;
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.listHeader {
  list-style: none;
  display: flex;
  gap: 20%;
  padding: 0;
  align-items: center;
}

[class^="child"] > * {
  text-decoration: none;
  color: black;
}

.child1 > a {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.bookCategories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 65%;
  padding-left: 5%;
}
